.nobootstrap{min-width:inherit!important}


/* switch languages */

.displayed_flag {
	float: right;
	margin: 0px 4px 0 0;
}

.language_flags {
	display: none;
	float: right;
	background: #FFF;
	margin: 4px;
	padding: 8px;
	width: 80px;
	border: 1px solid #555;
}
.pointer {
    cursor: pointer;
}

/* switch languages */

.margin-form table td, .margin-form table th{padding:5px; font-size:11px}

ul.leftMenu li a {
	text-decoration:none!important;
}

.center{text-align:center}

.prestashop16-add-category div.margin-form{padding: 0pt 130px 10px 0pt!important;}
.prestashop16-add-category label{width:120px}